.title {
    text-align: center;
}

.photo {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    font-size: 20px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
